<!DOCTYPE html>
<html>
<head>
    {% load static compress %}

    {% compress css %}
        <link type="text/css" rel="stylesheet" href="{% static 'sample_app/scss/test.css' %}">
        <link type="text/scss" rel="stylesheet" href="{% static 'sample_app/scss/another.scss' %}">
        <link type="text/scss" rel="stylesheet" href="{% static 'sample_app/scss/styles.scss' %}">
    {% endcompress %}
</head>
<body>
<p>Hello from the other side!</p>
<div>Some text in div element</div>
</body>
</html>
